.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background: rgb(28,189,182);
  padding-bottom: .25em;
  text-align: center;
  padding-top: 2em;
}


.highlight-route{
  border-bottom: 2px solid rgb(28,189,182);
  padding: 0 5px 2px 5px;
}

.unhighlighted-route:hover{
  border-bottom: 2px solid rgb(28,189,182);
  padding: 0 5px 2px 5px;
}

h1 {
  font-size: 3.5em;
  margin-bottom: .25em;
  margin-top: .25em;
  font-family: 'Antic Slab', serif;
}

.properties-grid {
  width: 100%;
  margin: 0 auto;
  background-color: yellow;
}

.properties-row {
  flex-wrap: wrap;
  display: inline-flex;
  background-color: red;
  margin: 2em auto;
  width: 100%;
}

.property-thumbnail {
  margin: 2em auto;
  background-color: green;
  display: table-cell;
  max-width: 450px;
}

.App-intro {
  font-size: large;
}

#social {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.icon {
  font-size: 1.35em;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

.navbar {
  margin: auto;
  max-width: 490px;
}

.navbar span {
  margin: auto;
  padding: 0 5px 0 5px;
}

/* selected link */
a:active {
    color: red;
}

.lineup span {
  margin: .85em;
}

.lineup-member {
  font-weight: bold;
  font-family: 'Antic Slab', serif;
}

#gig-list h4 {
  margin-bottom: 5px;
}

.show-header {
  text-align: right;
  margin-right: 5em;
  margin-top: 1em;
}

.show-header p,
.show-header h4{
  display: inline-block;
}

.show-header p{
  float: left;
  position: relative;
  /* left: 80px; */
  top: 0px;
  font-family: 'Antic Slab', serif;
  font-weight: bold;
  font-size: 18px;
}

.show-header ul {
  list-style-type: none;
  padding-left: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h4.songDisplay {
  /* display: inline-block;
  float: left;
  margin: .5em 0em; */
  display: flex;
  text-align: left;
}

h4.artistDisplay {
  /* display: inline-block;
  float: right;
  margin: .5em 0em; */
  display: flex;
  text-align: right;    
}

.song-entry {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: .5em;
}

.song-entry-spacer {
  flex: 1 0 10px;
}

#song-header-container{
  justify-content: space-around;
}

.song-header {
  display: inline-block;
  text-decoration: underline;
}


/* ------------- Media Queries ------------- */

@media only screen and (min-width: 600px) {
  .app-header {
    padding-top: 0em;
  }

  #gig-container {
    min-width: 30em;
  }

  #bio-container {
    min-width: 30em;
  }

  #songs-container {
    min-width: 30em;
  }
}

/* @media only screen and (max-width: 600px) {
  .song-entry {
    background: #ddd;
  }
} */